<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
{% for search in table_info %} 
<h1>{{search.search_name}}</h2>
  {% for item in search.results %} 
  <h3>Product Name:{{item.item_name}}</h4>
  <h3>Product Description:{{item.item_des}}</h4>
    <table>
        <tr>
          <th>Supermarket</th>
          <th>Price</th>
        </tr>
        {% for supermarket in item.supermarkets %}
          <tr>
            <td>{{ supermarket.0 }}</td>
            <td>{{ supermarket.1 }}</td>
          </tr>
        {% endfor %}
      </table>
  {% endfor %}
{% endfor %}
</body>
</html>